@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

:root {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  user-select: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
